.desclabel {
    font-weight: bold;
}

.movie-detail{
    margin-top: 50px;
}

.movie-genre {
    margin-top: 50px;
}

.col-lg-12 {
    margin-top: 50px;
}

.movie-detail {
    padding-bottom: 50px;
}