<div class="row" class="movie-name">
    <div class="col-lg-11 col-md-4 col-sm-6 col-xs-12">

        <h1 class="movielabel">{{(movie | async).get('name')}}</h1>



    </div>

</div>

<div class="row" class="movie-image">
    <div class="col-lg-12 col-md-4 col-sm-6 col-xs-12">


        <img [src]="getMovieImage(movie | async)" />


    </div>


</div>

<div class="row" class="movie-rating">
    <div class="col-lg-12 col-md-4 col-sm-6 col-xs-12">


        <div class="rating">
            <app-rating [rating]="(movie | async).get('rate')" [max]="10" iconClass="star-icon" fullIcon="★" emptyIcon="☆" [readonly]="true"
                [disabled]="false" [required]="false" [float]="true" [titles]="['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten']">

            </app-rating>
        </div>


    </div>


</div>

<div class="row" class="movie-genre">
    <div class="col-lg-12 col-md-4 col-sm-6 col-xs-12">



        <div class="desclabel">Movie genre:</div>
        <div class="description">
            {{(movie | async).get('genres').join(',')}}
        </div>




    </div>


</div>

<div class="row" class="movie-length">
    <div class="col-lg-12 col-md-4 col-sm-6 col-xs-12">



        <div class="desclabel">Movie length:</div>
        <div class="description">
            {{(movie | async).get('length')}}
        </div>




    </div>


</div>


<div class="row" class="movie-detail">
    <div class="col-lg-12 col-md-4 col-sm-6 col-xs-12">
        <div class="desclabel">Description:</div>
        <div class="description">
            {{(movie | async).get('description')}}
        </div>

    </div>
</div>